[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
ansible = "*"
ansible-doctor = "*"
ansible-lint = "*"
selinux-please-lie-to-me = "*"

[dev-packages]

[requires]
python_version = "3.9"
