[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
ansible = "*"
ansible-doctor = "*"
ansible-lint = "*"
docker = "*"
molecule = "*"
molecule-plugins = {extras = ["docker", "lint"], version = "*"}
selinux-please-lie-to-me = "*"

[dev-packages]

[requires]
python_version = "3.9"
